@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

:root {
    --BrancoFundo:#FAFBFC;
    --BrancoDiv:#FFFFFF;
    --RoxoEscuro: #8946EE;
    --RoxoClaro: #AF7CFB;

    --FontePrincipal: 'Vollkorn', serif;
}

body {
    margin: 0;
}

p, a {
    font-family: 'Vollkorn', serif;

}

#content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    "nav nav nav"
    "aside1 section aside2"
    "footer footer footer"
    ;

}

nav {
    grid-area: nav;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(90deg, var(--RoxoEscuro), var(--RoxoClaro) );
}

nav img {
    height: 30%;
    text-align: left;
    margin-top: 25px;
    color: white;
}

nav > div {
    width: 250px;
    margin: 0 2% 0 2%;
}

nav #icone {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > #icone >  div {
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.144);
    
}

nav > #icone >  div:hover {
    background-color: rgba(0, 0, 0, 0.493);
}

nav a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--BrancoFundo);
}

#aside1 {
    grid-area: aside1;
    display: flex;
    flex-direction: column;
    background-color: var(--BrancoFundo);
}

#aside1 div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px auto 10px auto;
    width: 40%;
    padding: 15px;
    background-color: var(--BrancoDiv);
    box-shadow:0.5px 0.5px 10px rgba(0, 0, 0, 0.202);
}

section {
    grid-area: section;
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
    "sec01 sec02"
    "sec03 sec03"
    "sec04 sec05"
    "sec06 sec06"
    "sec07 sec08"
    "sec09 sec09"
    ;
}

#sec01 {
    padding-top: 10px;
    grid-area: sec01;
}

#sec01 > h1 {
    font-family: var(--FontePrincipal);
    font-size: 60px;
    color: var(--RoxoClaro);
    margin: 0;
    line-height: 1em;
}

#sec01 > p {
    margin: 0;
    font-family: var(--FontePrincipal);
    font-size: 14px;
    color: var(--RoxoClaro);
}

#sec02 {
    grid-area: sec02;
    display: flex;

}

.sec02div > div {
    margin-left: 20px;
}

#sec03 {
    grid-area: sec03;
}

#sec04 {
    grid-area: sec04;
}

#sec05 {
    grid-area: sec05;
}

#sec06 {
    grid-area: sec06;
}

#sec07 {
    grid-area: sec07;
}

#sec08 {
    grid-area: sec08;
}

#sec09 {
    grid-area: sec09; 
}

#aside2 {
    grid-area: aside2;
    background-color: aquamarine;

}

footer {
    grid-area: footer;
    background-color: bisque;

}