@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');


body {
    margin: 0;
}

p, a {
    font-family: 'Vollkorn', serif;

}

#content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "nav nav nav"
    "aside1 section aside2"
    "footer footer footer"
    ;

}

nav {
    grid-area: nav;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #8946EE, #AF7CFB );
}

nav img {
    height: 30%;
    text-align: left;
    margin-top: 25px;
    color: white;
}

nav > div {
    width: 250px;
    margin: 0 2% 0 2%;
}

nav #icone {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > #icone >  div {
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.144);
    
}

nav > #icone >  div:hover {
    background-color: rgba(0, 0, 0, 0.493);
}

nav a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

#aside1 {
    grid-area: aside1;

}

section {
    grid-area: section;

}

#aside2 {
    grid-area: aside2;

}

footer {
    grid-area: footer;

}